@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}

code,
pre {
  font-family: var(--font-geist-mono), Menlo, Monaco, 'Courier New', monospace;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: 0 0% 3.9%;
      --foreground: 0 0% 98%;
    }
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}
